{% extends "main.twig" %}

{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-xsmall">
            <h1>My Profile</h1>
            <p>Login: {{ name }}</p>
            <p>IP: {{ ip }}</p>
            <p>Email: {{ email }}</p>
        </div>
    </div>
{% endblock %}